@font-face {
    font-family: "Style Script";
    src: url(assets/StyleScript-Regular.ttf);
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

hidden {
    display: none;
}

body {
    margin: 2em auto;
}

section {
    max-width: calc(21cm - 2in);
    margin: auto;
}

h1 {
    margin-bottom: 5px;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 5px;
    font-weight: unset;
}

p {
    margin-top: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: dotted underline;
}

ol {
    margin-left: 5em;
}

ol > li[data-year]::marker {
    content: attr(data-year) " § ";
    font-style: italic;
}

.contact > * {
    margin-left: 1rem;
}

.contact img {
    width: 1rem;
}

quote {
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: end;
}
