:root {
    --primary: #05445E;
    --secondary: #189AB4;
    --tertiary: #75E6DA;
    --quaterny: #D4F1F4;
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

hidden {
    display: none !important;
}

body {
    margin: 2em auto;
}

@media print {
    body {
        margin: unset !important;
    }
}

@page {
    margin: 2cm;
    size: A4;
}

header {
    max-width: calc(21cm - 2in);
    margin: auto;
    text-align: right;
}

@media screen {
    header.print {
        display: none !important;
    }
}

@media print {
    header.display {
        display: none !important;
    }
}

section {
    max-width: calc(21cm - 2in);
    margin: auto;
    break-inside: avoid-page;
}

h1 {
    margin-bottom: 5px;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary);
}

h2 {
    position: relative;
    padding-left: 8px;
    margin-bottom: 0.5em;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-bottom: 1px solid var(--secondary);
    border-left: 5px solid var(--secondary);
    border-bottom-left-radius: 0.5rem;
}

h3 {
    margin-bottom: 5px;
    margin-top: 0.2em;
}

h4 {
    margin-bottom: 5px;
    font-weight: unset;
}

p {
    margin-top: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: dotted underline;
}

section > ul > li::marker {
    content: "✓ ";
    font-weight: bold;
    color: var(--secondary);
}

ol {
    margin-left: 5em;
}

ol > li[data-year]::marker {
    content: attr(data-year) " § ";
    font-style: italic;
}

ul {
    margin-top: 0.2em;
}

ul > li {
    margin-top: 0.2em;
}

.contact > * {
    margin-right: 1rem;
}

.contact > *::before, #print::before {
    content: "";
    display: inline-block;
    padding-right: 0.3em;
    width: 1em;
    height: 1em;
    background-size: 1em;
    background-repeat: no-repeat;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    -webkit-color-adjust: exact !important;
}

#print::before {
    background-image: url('assets/print_100x100.webp');
}

.contact > #email::before {
    background-image: url('assets/email_100x100.webp');
}

.contact > #linkedin::before {
    background-image: url('assets/linkedin_100x100.webp');
}

.contact > #github::before {
    background-image: url('assets/github_light_100x100.webp');
}

quote {
    position: relative;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: end;
    color: var(--secondary);
}

#technical-skills > ul {
    padding-left: calc((40px - 1em));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#technical-skills > ul > li {
    flex-grow: 1;
    max-width: 40%;
    margin-left: 1em;
}

#technical-skills > ul > li > ul {
    padding-left: 0.2em;
}
